.navbar-fixed-top
{
	padding:5px;
	width: 100%;
	margin:0px;
	height: 6%;
	z-index: 1199;
}
.menu-toggle
{
	right: 0px;
	top: 0px;
	width: 2.5em;
	height: 2.5em;
	z-index: 1202;
	vertical-align: middle;
}
.number
{
	right:3em;
	top:0px;
	z-index: 1202;
	width: 5em;
	height: 2.5em;
	vertical-align: middle;
}